[submodule "cpp-httplib"]
	path = thirdparty/cpp-httplib
	url = git@github.com:yhirose/cpp-httplib.git
[submodule "cxxopts"]
	path = thirdparty/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "matplotplusplus"]
	path = thirdparty/matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus.git
[submodule "json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
